@use 'scss/breakpoints';
@use 'scss/config';
@use 'scss/mixins';

.body {
  cursor: pointer;

  .row {
    color: config.$dark_shade;

    &.small {
      background-color: none;
    }
    &:hover {
      background-color: config.$light_shade;
    }

    &.edit {
      background-color: config.$main_brand;

      &:hover {
        transform: none;
      }
    }
  }
  .value {
    padding: 1rem 0;
    border-bottom: 1px solid config.$light_shade;
    &.small {
      padding: 0.25rem 0;
      border-bottom: 1px solid white;
      .content {
        height: 2rem;
      }
      .text {
        font-size: 0.9rem;
      }
    }
    .content {
      display: flex;
    }
  }

  .innerRow {
    height: 0rem;
    transition: all 0.2s ease-in-out;
    background-color: config.$light_shade;
    vertical-align: top;
    overflow: hidden;
    border-radius: config.$br_small;
    padding: 0;
    &.expand {
      height: 15rem;
      padding: 0.5rem;
    }
  }
}
