@use 'scss/breakpoints';
@use 'scss/config';
@use 'scss/mixins';

.body {
  cursor: pointer;

  .row {
    color: config.$dark_shade;
    border-bottom: 1pt solid black;
    // &.odd {
    //   background-color: config.$light_shade;
    // }

    &:hover {
      background-color: config.$light_shade;
    }

    &.edit {
      background-color: config.$main_brand;

      &:hover {
        transform: none;
      }
    }
  }
  .value {
    padding: 1rem 0;
    border-bottom: 1px solid config.$light_shade;

    .content {
      display: flex;
    }
  }
  .innerRow {
    height: 0rem;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &.expand {
      height: 15rem;
    }

    .sample {
      vertical-align: top;
    }
  }
}
