@use 'scss/breakpoints';
@use 'scss/config';
@use 'scss/mixins';

.body {
  cursor: pointer;

  .row {
    color: config.$dark_shade;

    &.odd {
      background-color: config.$light_shade;
    }

    &:hover {
      transform: scale(1.01);
    }

    &.edit {
      background-color: config.$dark_shade;

      &:hover {
        transform: none;
      }
    }
  }

  .innerRow {
    height: 0rem;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &.expand {
      height: 15rem;
    }

    .sample {
    }
  }
}
