@use 'scss/breakpoints';
@use 'scss/config';
@use 'scss/mixins';

.header {
  background-color: white;
  box-shadow: config.$shadow;

  &.small {
    box-shadow: none;
  }

  .heading {
    padding: 1.5rem;
    width: max-content;
    @include mixins.disableSelect();
    border-right: 1px dashed config.$light_shade;
    &.small {
      padding: 0.5rem 0.75rem;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;
      .text {
        font-size: 1.15rem;
        font-weight: 600;
        color: config.$text;
        &.small {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }

      .icon {
        color: config.$color-1;
      }
    }
  }
  .action {
    padding: 1.5rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: config.$text;
    width: 8rem;
    &.small {
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0.5rem 0.75rem;
      width: 4rem;
    }
  }
}
