@use 'scss/breakpoints';
@use 'scss/config';
@use 'scss/mixins';

.actionsContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
  border-bottom: 1px solid config.$light_shade;

  &.edit {
    border: none;
  }

  &.small {
    padding: 0.76rem 0;
    border-bottom: 1px solid white;
  }

  .icon {
    font-size: 1.1rem;
    color: config.$main_brand;
    stroke-width: 2px;

    &:hover {
      color: config.$dark_accent;
    }

    &.edit {
      font-size: 1.2rem;
      color: white;

      &:hover {
        transform: scale(1.2);
      }
    }

    &.small {
      font-size: 1rem;
    }
  }
}
