@use 'scss/breakpoints';
@use 'scss/config';
@use 'scss/mixins';

.container {
  width: 100%;
  overflow: auto;

  .table {
    width: 100%;
    table-layout: fixed;

    .body {
      cursor: pointer;
      .row {
        color: config.$dark_shade;
        &:nth-child(even) {
          background-color: config.$light_shade;
        }

        &:hover {
          background-color: config.$dark_shade;
          color: white;
        }

        .value {
          padding: 0.5rem 0;
          text-align: center;
          //     color: config.$dark_shade;
        }
      }
    }
  }
}
