@use 'scss/breakpoints';
@use 'scss/config';
@use 'scss/mixins';

.container {
  width: 100%;
  overflow: auto;

  .table {
    width: 100%;
    table-layout: fixed;

    .body {
      cursor: pointer;
      .row {
        color: config.$dark_shade;
        &:nth-child(even) {
          background-color: config.$light_shade;
        }

        &:hover {
          transform: scale(1.01);
        }

        &.edit {
          background-color: config.$dark_shade;

          &:hover {
            transform: none;
          }
          .value {
            .content {
              color: config.$light_shade;
            }
          }
        }

        .value {
          padding: 0.5rem 0;

          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            color: config.$dark_shade;

            .image {
              width: 3rem;
              height: 3rem;
              border-radius: config.$br_small;
              object-fit: contain;
            }
            .text {
              font-size: 1rem;
              font-weight: 400;
            }
          }

          .actionsContainer {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            .icon {
              font-size: 1rem;
              color: config.$main_brand;
            }
          }
        }
      }
    }
  }
}
